/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: linear-gradient(#fecb00, #bed600, #0094b3, #006778, #003d4c);
    width: 100%;
}
/* style for table float and background design */
/* Style the buttons inside the tab */

div.tab button {
    width: 110px;
    height: 80px;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
